/* CSS style for everything and shit */

@media (max-width: 70em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin: 1px 0 0 0;
  }
}

body {

  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #076b74, #5d9e66); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #076b74, #5d9e66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-sizing: border-box;
  font-family: sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 75rem;
  min-height: 100vh;
}

.header {
  /* set vertical and horizontal alignment = center */
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 1vw;
}

.footer {
  text-align: center;
  margin-left: 1vh;
  margin-top: 2vh;
  font-size: 10px;
}


/* --------------------------------------------------  CONTENT STYLE STARTS HERE -------------------------------------------------- */

/* - Tabs and labels - */
.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  background: #ddd;
  cursor: pointer;
  display: block;
  font-weight: bold;
  order: 1;
  padding: 1rem 2rem;
  text-align: center;
  transition: background ease 0.3s;

  
  /* box-shadow: inset 5px -5px 5px -5px rgba(0, 0, 0, 0.75); */
}
  .tabs label:hover {
    background: #fff;
  }

.tabs .tab {
  order: 99;

  align-items: center;
  background: #fff;
  box-shadow: 5px 0px 10px -3px rgba(0, 0, 0, 0.75);
  display: none;
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: #fff;
  color: #000;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}
/* - The end of Tabs and labels - */


/* - Data output table - */
.tab .data-table {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #000; /* Граница временно */
}

.data-table {
  
}

/* - The end of Data output - */

/* --------------------------------------------------  CONTENT STYLE ENDS HERE -------------------------------------------------- */

/* - Modal window style is here - */
.modal {              
  position: fixed;
  max-width: 25%;
  max-height: 25%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  padding: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.new_modal_window {
  cursor: pointer;
}

/* - End of Modal window style - */
